.footer {
    /* font-size: 87.5%; */
    /* border-top: 1px solid #eee; */
    /* margin-top: 3.4286em; */
    /* padding: 1.1429em; */
    /* background: rgb(250, 250, 250); */
	
	 /* background-color: orange; */
	 background-color: #edde62;
    /* /* position: absolute; */ */
    /* left: 0; */
    /* bottom: 0; */
	
    /* height: 100px; */
    /* /* width: 100%; */ */
    /* overflow:hidden; */
	
	/* background-color: darkslategrey; */
    color: bisque;
    font-size: small;
    padding-top: 3px; 
    position: absolute;
    height: 70px;
    margin-bottom: 0;
    bottom: 0;
    /* width: 100%; */
right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    /* min-height: 10em; */
    width: 50%;
	padding: 0 10px 0 10px;

}

.book{
	padding-left:3%;
	padding-right:3%;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #edde62;
	
}

img.arms {
	/* max-width:100px; */
	height:56px;
	/* margin-right:-15px; */
	/* margin-bottom: -30px; */
	margin-bottom: -40px;
  /* width: 100vw; */
  /* height: (height/width * 100)vw; */
  /* max-height: 100vh; */
  /* max-width: (width/height * 100)vh; */
}


body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set you're content font stack here: */
    /* font-family: 'PT Sans', Georgia, Times, "Times New Roman", serif; */
    /* font-family: Georgia, Times, "Times New Roman", serif; */
	font: normal normal normal 18px/1.2 Georgia, Times, "Times New Roman", serif;
}


/* html { */
  /* /* font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif; */ */
  /* font: normal normal normal 18px/1.2 Georgia, Times, "Times New Roman", serif; */
  /* color: #292f33; */
/* } */
.spoiler-content {
    -webkit-transition: height 0.7s ease-out;
    transition: height 0.7s ease-out
}
.spoiler {
    width: 2em;
    height: 1.6em;
    /* background-color: rgba(35, 172, 27, 0.72); */
    /* background-color: #72b3d2; */
    background-color: #ce2832;
	color:white;
	/* color:#ce2832; */
	
    /* display: inline-block; */
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.8em; 
	display:block;
	padding: 0 10 px 0 10px;
    -webkit-box-shadow: 0 0 1px 1px #4b3d3d;
    box-shadow: 0 0 1px 1px #4b3d3d;
	text-align: center;
	/* font-variant: small-caps; */
	 text-transform: uppercase;
	
}
.spoiler span {
    color: #fff;
    position: relative;
    left: 0.45em;
    top: 0.1em
}
.spoiler-active {
    background-color: transparent;
	color: #ce2832;
}
.spoiler-active span {
    color: #000;
}

/* #prefetch{ */
	/* text-align:center; */
/* } */


/* [class*=hint--][aria-label]:after {
  white-space: pre-line;
}
 */


/* https://github.com/chinchang/hint.css/issues/100 */
/* and use this entity for linebreaks :  */
/* &#xa; */

/* [class*=hint--][aria-label]:after {
  white-space: pre;
}
 */

#articlesNavigation i{
	font-size:36px;
	
}
#tasearch{
	/* margin-left: 50px; */
}


a{
	text-decoration:  none;
}
.wrapper {
    /* padding: 2em; */
	padding-left: 10px;
	padding-right: 10px;
	
	height: 100%;
    max-height: 96%;//change here
    
	background: ivory;
	
	overflow-y:auto; 
	overflow-x:hidden;
	max-height:800px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.newcit {
	display:block !important;
	
}

.old {
	/* font-family: 'Alice', serif; */
	/* background-color:lightyellow; */
	margin-bottom: 2px;	
}

.dotted {    
    /* border-bottom: 1px dotted #000;
    text-decoration: none; */
	
/* 	margin-left:5px; */
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  #centerwrapper{ display: none; }
  
  	.footer, img.arms {
		 display: none; 
	}

}

@media screen and (min-width: 721px) {
	/* pure-menu-heading custom-menu-brand */
  .cnt{
	  /* margin-left:200px;  */
	   position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 50%;
	  
    /* .width:500px;height:100%;margin-left:-250px;height:300px;background:#f0f;text-align:center;max-width:500px;max-height:500px; */
	  }
	  .custom-menu-screen{
		  display:none;
	  }
  .custom-menu-brand{ 
  margin-left:20%;
  /* margin-left:200px;  */
  }
  
}

.somelist{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	height: 5vw;
}
.somelist > li{ 
	padding-bottom: 10px;
}

/* .pure-g { */
     /* display: flex; */
    /* flex-flow: row wrap; */
	/* vertical-align: baseline; */
/* } */

.unaccented {
	color: gray;
	font-weight:bold;	
	/* height: 2.5vw; */
}
.hidden {
  display: none !important;
  visibility: hidden;
}


#entry {
	margin-top:20px;
}


.cit{
	/* font-style: italic; */
	/* font-weight:bold; */
	/* color:white; */
	/* background-color: gray; */
/* 	padding-right:5px;
	padding-left:5px;
 */	
		moz-border-radius:5px 5px 5px 5px;
        border-radius:5px 5px 5px 5px;  
        /* border:solid 1px #000; */
        background-color:#acf;
        padding:5px;
		/* border-radius: 25px; */
		font-size:smaller;
}




#qty {
	margin-left:0px;
	color: navy;
	font-size:larger;
	/* background-color: lightyellow; */
}
#srclist {
	margin-left:5px;
	/* color:white;
	background-color: gray; */
}
#auth {
/*
	background-color: purple;
	color: white;
*/	
	font-weight:bold;
	color:gray;
}
#auth_div {
	/*
	margin-left:5px;
	*/
}
#entry div {
	margin-top: 10px;
}
#pnum {
	/* font-size: smaller;  */
}
#meta {
	/* font-weight: bold; */
	/* font-size: smaller;  */
	
}
#title {
	font-size: bigger; 
	font-weight:bold;	
}

/* typeahead */
/* typeahead */
/* typeahead */
/* typeahead */
/* scaffolding */
/* ----------- */
.typeahead,
.tt-query,
.tt-hint {
  /* width: 396px; */
  /* margin-top:-2em; */
  width: 98%;
  /* max-width:396px; */
  
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  /* border: 2px solid #0097cf; */
  /* border: 2px solid #ce2832; */
  border: 2px solid #edde62;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  /* width: 422px; */
  width: 90%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* menu */
/* menu */
/* menu */
.custom-menu-wrapper {
    /* background-color: #808080; */
    /* background-color: #72b3d2; */
    background-color: #ce2832;
    margin-bottom: 2.5em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 62em) {

    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }

}

